*, *:before, *:after {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
}


.tab_container {
    width: 100%;
    background-color: #F3F4F6;
}

.tab_list {
    width: 100%;
}

@media (min-width: 992px) {
    .tab_list {
        width: 50%;
    }
    .tab_panel {
        width: 50%;
    }
}

.tab {
    display: inline-block;
    border: none;
    width: 33.33%;
    background-color: #F3F4F6;
    padding: 2.5% 0;
    margin-right: -4px;
    font-size: 14px;
}

.tab--inactive {
    border-top: 5px solid #F3F4F6;
    background-color: #F3F4F6;
}

.tab--active {
    border-top: 5px solid #2A9799;
    background-color: #fff;
}

.tab_panel {
    width: 100%;
    padding: 5%;
    background-color: #fff;
}
