.tab_container {
    background-color: #F3F4F6;
}

.tab {
    display: inline-block;
    border: none;
    background-color: #F3F4F6;
    padding: 10px 30px;
    margin-right: -4px;
    font-size: 14px;
}

.tab--inactive {
    border: none;
    background-color: #F3F4F6;
}

.tab--active {
    border-top: 5px solid #2A9799;
    background-color: #fff;
}

.tab_panel {
    padding: 50px;
    background-color: #fff;
}

.tab_panel__title {
    margin-top: 0;
}